<app-header [menu]="false" title="Adicionar Jogos" url="game-crud-home"></app-header>

<ion-content>
  <!--
    Formulário utilizado pelo admin
    Afim de criar ou atualizar um elemento no banco de dados
  -->
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input type="text" [(ngModel)]="sendObject.title" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">SubTitulo</ion-label>
    <ion-textarea autoGrow type="text" [(ngModel)]="sendObject.subtitle" ></ion-textarea>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Conteúdo</ion-label>
    <ion-textarea autoGrow type="text" [(ngModel)]="sendObject.description" ></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Link da Imagem</ion-label>
    <ion-input type="text" [(ngModel)]="sendObject.image" ></ion-input>
  </ion-item>

  <ion-button class="ion-margin" (click)="submit()" expand="block">
    Enviar
  </ion-button>

  <ion-button *ngIf="routeId" class="ion-margin" color="danger" (click)="delete()" expand="block">
    Deletar
  </ion-button>
</ion-content>
