<app-header title="Notícias"></app-header>

<ion-content>

  <!-- Caso não exista elementos no banco de dados -->
  <ng-container *ngIf="crud.newsData.length === 0">
    <app-skeleton-card></app-skeleton-card>
  </ng-container>

   <!--
  Recebe as informações via Api e passa como parametro para o componente
  Content Card (app/components/cards/content-card)
  Este Componente se encarrega de montar o HTML e de fazer a navegação para a url desejada
  -->
  <ng-container *ngIf="crud.newsData.length > 0">
    <ng-container *ngFor="let item of crud.newsData">
      <app-content-card [content]="item" url="news" [crud]="true"></app-content-card>
    </ng-container>
  </ng-container>

</ion-content>

<!-- Componente de utilização de botão Fab -->
<ion-footer>
  <app-fab-bottom-right url="news-crud"></app-fab-bottom-right>
</ion-footer>
