<app-header [menu]="false" url="news-home" title="Notícias"></app-header>

<ion-content>

  <!-- Caso já tenha carregado -->
  <ion-card *ngIf="loaded">
    <!-- Display da imagem -->
    <img [src]="loaded.image" alt="">
    <ion-card-header>
      <!-- Subtitulo -->
      <ion-card-subtitle>{{loaded.subtitle}}</ion-card-subtitle>
      <!-- Titulo -->
      <ion-card-title>{{loaded.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Descrição -->
      {{loaded.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button (click)="goTo()" fill="clear" expand="block">
      <ion-label color="light">Ler mais!</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>
