ion-content {
  background: var(--ion-color-primary);
  background: linear-gradient(90deg, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100%);
}

ion-menu {
  ion-content {
    --ion-background-color: transparent !important;
  }
}

ion-icon {
  color: white;
}
