<app-header title="Filmes"></app-header>

<ion-content>

   <!-- Caso não exista elementos no banco de dados -->
  <ng-container *ngIf="crud.moviesData.length === 0">
    <app-skeleton-card></app-skeleton-card>
  </ng-container>

  <!--
  Recebe as informações via Api e passa como parametro para o componente
  Content Card (app/components/cards/content-card)
  Este Componente se encarrega de montar o HTML e de fazer a navegação para a url desejada
  -->
  <ng-container *ngIf="crud.moviesData.length > 0">
    <ng-container *ngFor="let item of crud.moviesData">
      <app-content-card [content]="item" url="movie" [crud]="true"></app-content-card>
    </ng-container>
  </ng-container>

</ion-content>

<!-- Componente de utilização de botão Fab -->
<ion-footer>
  <app-fab-bottom-right url="movie-crud"></app-fab-bottom-right>
</ion-footer>
