<app-header title="Filmes"></app-header>

<ion-content>
  <!--
  Recebe as informações via Api e passa como parametro para o componente
  Content Card (app/components/cards/content-card)
  Este Componente se encarrega de montar o HTML e de fazer a navegação para a url desejada -->
  <ng-container *ngFor="let item of crud.moviesData">
    <app-content-card [content]="item" url="movie"></app-content-card>
  </ng-container>
</ion-content>
<ion-footer>
  <app-fab-refresher></app-fab-refresher>
</ion-footer>
