<app-header url="login" [menu]="false" title="Esqueci Minha Senha"></app-header>

<ion-content>
  <div>
    <p class="ion-text-center ion-margin-top">
      <img class="ion-padding logo" src="../../../../assets/img/logo.png" alt="">
    </p>
    <h2 class="ion-text-center">Login</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12">

          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="recoveryEmail"></ion-input>
          </ion-item>

          <ion-button (click)="send()" class="ion-margin-top" expand="block" color="primary">
            Enviar
          </ion-button>

          <ion-button (click)="goTo('login')" expand="block" color="light" class="ion-margin-top">
            Voltar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
